<div id="<%= dom_id task %>">
  <p>
    <strong>Body1:</strong>
    <%= task.body1 %>
  </p>

  <p>
    <strong>Body2:</strong>
    <%= task.body2 %>
  </p>

  <p>
    <strong>Body3:</strong>
    <%= task.body3 %>
  </p>

  <p>
    <strong>Body4:</strong>
    <%= task.body4 %>
  </p>

  <p>
    <strong>Body5:</strong>
    <%= task.body5 %>
  </p>

</div>
